html {
  height: 100%;
}
body {
  background-color: #2f3035;
  background-image: url(images/number3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}
h1 {
  font-size: 72pt;
  color: blue;
  font-style: italic;
}
header {
  
  margin-left: auto;
  margin-right: auto;
}
nav {
  text-align: center;
  height: 100px;
background-color: rgba(192, 192, 192, 0.904);
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: -10px;
}
.nav {
  font-size: 40pt;
  color: black;
  text-decoration: black;
  padding-right: 14px;
  padding-left: 14px;
  font-style: unset;
}

.text {
  font-size: 35pt;
  color: rgb(172, 27, 27);
  font-family: Arial, Helvetica, sans-serif;
}
.boxOfText {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
 background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-color: #0000007a;
  
  margin-bottom: 40px;
  margin-left: 140px;
  margin-right: 140px;
}

.emaildiv{
  text-align: center;
   background-color: rgba(0, 0, 0, 0.61);
    margin-left: 200px;
  margin-right: 200px; 
}
.email{
  font-size: 50px;
}